/* Fill the full admin content area. */
#apppresser-accessibility-root,
#apppresser-cookies-root,
#apppresser-maintenance-root,
#apppresser-social-share-root,
#apppresser-options-root {
	margin: 40px 30px;
}

body.settings_page_apppresser-accessibility .components-panel,
body.settings_page_apppresser-cookies .components-panel,
body.settings_page_apppresser-maintenance .components-panel,
body.settings_page_apppresser-social-share .components-panel,
body.settings_page_apppresser-options .components-panel {
	max-width: 740px;
	margin: 0 auto;
}

body.settings_page_apppresser-accessibility #wpcontent,
body.settings_page_apppresser-cookies #wpcontent,
body.settings_page_apppresser-maintenance #wpcontent,
body.settings_page_apppresser-social-share #wpcontent,
body.settings_page_apppresser-options #wpcontent {
	padding-left: 0;
}

.plugin-header {
	background-color: #ffffff;
	padding: 20px;
	border-bottom: 1px solid #e0e0e0;
	display: flex;
	align-items: center;
	gap: 12px;
}

.plugin-header-logo {
	width: 50px;
	height: auto;
}

.components-panel {
    background-color: transparent;
    border: none;
}


.components-panel__body {
	margin-bottom: 30px;
	background-color: #ffffff;
	border: 1px solid #e0e0e0;
}

.components-panel__row  {
    padding-top: 10px;
    border-top: 1px solid #e9eaeb;
}

.components-panel__row:first-of-type {
    border-top: none;
}
